<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yvision">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Lenta_Right"></activity>
        <activity android:name=".Lenta" />
        <activity android:name=".RegTelefon2" />
        <activity android:name=".RegTelefon" />
        <activity android:name=".RegEmail" />
        <activity android:name=".RegSocseti" />
        <activity android:name=".Registration_1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VhodSocseti">
            <intent-filter>
                <action android:name="com.example.yvision.VhodSocseti" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Email_login_voiti">
            <intent-filter>
                <action android:name="com.example.yvision.Email_login_voiti" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Telefon_voiti">
            <intent-filter>
                <action android:name="com.example.yvision.Telefon_voiti" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Telefon_voiti_2">
            <intent-filter>
                <action android:name="com.example.yvision.Telefon_voiti_2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Vosstanovka_parol">
            <intent-filter>
                <action android:name="com.example.yvision.Vosstanovka_parol" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Vosst_parol_email">
            <intent-filter>
                <action android:name="com.example.yvision.Vosst_parol_email" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Vosst_parol_email_2">
            <intent-filter>
                <action android:name="com.example.yvision.Vosst_parol_email_2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Vosst_parol_email_3">
            <intent-filter>
                <action android:name="com.example.yvision.Vosst_parol_email_3" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>